body{
    background-color: rgb(0, 255, 255);
}
.heading{
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    background-color: rgb(150, 127, 255);

}
.box{
    border: solid 5px black;
    width: 350px;
    height: 350px;
    background-color: blue;
    margin-top: 200px;
    margin-left: 800px;
}
.buttons{
    display: flex;
    justify-content: space-around;
}
h3{
    display: flex;
    justify-content: center;
}
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgb(124, 124, 124);
    text-align: center;
    left: 0;
}
.image{
    margin-left: 25px;
    margin-top: 15px;
}